<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_payables.each do |generic_payable| %>
      <tr>
        <td><%= generic_payable.description %></td>
        <td><%= generic_payable.amount %></td>
        <td><%= link_to 'Make Payment', new_generic_payable_payment_path(generic_payable) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

