<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_payables.each do |payable| %>
      <tr>
        <td><%= payable.description %></td>
        <td><%= payable.amount %></td>
        <td><%= button_to 'Make Payment', generic_payable_payments_path(payable),
                                      { class: 'payment-button',
                                        remote: true,
                                        method: :post,
                                        disabled: true,
                                        'data-dropdown' => 'popover' } %></td>
        <div id='#popover' data-dropdown-content class='card_form f-dropdown content'>
          <form>
            <label>Card Number</label>
            <input type='text' id='card_number' size='20'>
            <label>Card Code</label>
            <input type='text' id='card_code'>
            <label> MM / YYYY </label>
            <input type='text' id='card_month' size='2'>
            <input type='text' id='card_year' size='4'>
            <input type='submit'>
          </form>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

