<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_payables.each do |payable| %>
      <tr>
        <td><%= payable.description %></td>
        <td><%= payable.amount %></td>
        <td>
          <form action='pay' method='POST'> 
            <script 
              src="https://checkout.stripe.com/checkout.js"
              data-key="pk_test_kBic0iWCskLu6CgVYFZhotCz"
              <%# data-image="/square-image.png" %>
              data-name="TMCYF"
              class="stripe-button"
              data-description="<%= payable.description %>"
              data-amount="<%= payable.amount %>">
            </script>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

