<!-- Content -->
  <div class="row">
    <div class="twelve columns heroofficers"></div>
    <%= render 'layouts/aboutmenu' %>
    <div class="nine columns copyblock officers">
      <h3>Our Officers</h3>
      <div class="row">
        <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Ashok Prakash</h4><h6>Vice President</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Betsy Zachariah</h4><h6>Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Teena Thomas</h4><h6>Joint Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Merin Sam</h4><h6>Treasurer</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Jesley George</h4><h6>Service Chair</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Cheryl Joseph</h4><h6>Historian</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Ivan Varghese</h4><h6>Web Design & Development</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Jay Mathew</h4><h6>Senior Advisor</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Stacy George</h4><h6>Senior Advisor</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    </div>
  </div>