<!-- Content -->
  <div class="row">
    <div class="twelve columns heroservice"></div>
    <%= render 'layouts/aboutmenu' %>
    <div class="nine columns copyblock">
      <h5>Service Events</h5>
      <p>As part of our motto, Passion for Others, we participate in various service related activities within our community. Our goal is through our service we show the love of Christ that we have experienced by giving some of our time money and help to those in need.</p><p>Flannel gluten-free 90's, DIY Etsy twee Marfa cred aliqua. Anim salvia fugiat Terry Richardson deserunt. Culpa american apparel actually fixie nulla reprehenderit direct trade gentrify, keytar High Life. Cupidatat fugiat art party, enim banh mi sartorial ullamco butcher.</p><p>Deep v biodiesel dreamcatcher, ex Austin salvia Schlitz culpa locavore vinyl you probably haven't heard of them banjo selfies. Tonx McSweeney's you probably haven't heard of them, esse Etsy meggings letterpress narwhal four loko polaroid pug put a bird on it viral. Keytar gentrify eu pour-over, yr art party kitsch sustainable mustache selfies officia dolor wolf farm-to-table actually.</p>
    </div>
  </div>