<!-- Slider -->
<div class="row">
  <div class="twelve columns">
    <div id="slider">
      <img src="http://mu.eyev.in/funfest.png" />
      <img src="http://mu.eyev.in/3on3.png" />
      <img src="http://mu.eyev.in/concertheader.png" />
      <img src="http://mu.eyev.in/filler.png" />
    </div>
<!-- End Slider -->
    <hr />
  </div>
</div>
<!-- Content Block -->
<div class="row blocks">
  <div class="three columns">
    <img src="http://mu.eyev.in/album.png" />
  </div>
  <div class="three columns">
    <img src="http://mu.eyev.in/dlapps.png" />
  </div>
  <div class="three columns">
    <img src="http://mu.eyev.in/previous.png" />
  </div>
  <div class="three columns">
    <img src="http://mu.eyev.in/sports.png" />
  </div>
</div>
<!-- End Content Block -->

<script type="text/javascript">
   $(window).load(function() {
       $('#slider').orbit({
        directionalNav: true
       });
   });
</script>
