<div class="row">
  <div class="large-12 columns">
    <h1>Editing Featured Events</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="large-5 columns">
    <%= link_to 'Show', @featured_event %> |
    <%= link_to 'Back', featured_events_path %>
  </div>
</div>