<div class="row">
  <div class="large-12 columns">
    <h1>New Featured Events</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="large-5 columns">
    <%= link_to 'Back', featured_events_path %>
  </div>
</div>