---
layout: default
title: Events
---
<div class="row">
	<div class="twelve columns event-index">
		{% for post in site.posts %}
			<div class="event-index-title">
				<h3><a href="/events{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			{% if post.image_url %}
					<img class="event-index-image" src="{{ post.image_url }}" />
			{% endif %}
			<div class="event-index-metadata">
				{% if post.event_date %}
				<div class="event-index-date"><i class="icon-calendar"></i><time>{{ post.event_date | date: "%B %d,  %Y" }}</time></div>
				{% endif %}
				{% if post.event_time %}
				<div class="event-index-time"><i class="icon-time"></i><time>{{ post.event_time }}</time></div>
				{% endif %}
			</div>
			{% unless forloop.last %}
		    <hr />
      		{% endunless %}
      	{% endfor %}
	</div>
</div>