<%= form_for(@retreat) do |f| %>
  <% if @retreat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retreat.errors.count, "error") %> prohibited this retreat from being saved:</h2>

      <ul>
      <% @retreat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
