<section class='retreat-theme'>
	<div class="row">
		<div class="large-12 columns center">
			<div class="retreat-heading">
				<p class="retreat-date">January 10-12, 2014</p>
				<h1 class="retreat-logo">Whatcha Gonna Do?</h1>
				<h4 class="retreat-verse">"Do not merely listen to the word, and so deceive yourselves. Do what it says." - James 1:22</h4>
				<span class="retreat-amount">$85</span>
			</div>
		</div>
	</div>
</section>
<section class='retreat-description'>
	<div class="retreat-banner">
		<h6>To hear the Word of God is a good thing, but it is not enough; so James says, “Do not merely listen to the word”. Rather than just hearing the Word, we are to “Do what it says”. Now, what does the Word says that we are to do?</h6>
	</div>
	<div class="retreat-desc">
		<div class="row">
			<div class="large-12 columns">
				<div class="retreat-desc-heading">
					<h2>About The Retreat</h2>
				</div>
				<div class="large-6 columns retreat-desc-body"><p><b>what the retreat is about</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ratione, porro voluptatem nihil fuga sapiente doloribus sed temporibus excepturi consectetur ad quasi veniam. Facere adipisci dolores repellendus dicta repudiandae quo?</p></div>
				<div class="large-6 columns retreat-desc-body"><p><b>what we hope youth will get out of this retreat</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, maxime, sed, rerum, numquam dolor quisquam amet repellendus at recusandae nam repudiandae rem quibusdam magni aperiam facere veritatis iure ad nulla?</p></div>
				<div class="large-12 columns retreat-desc-body"><p><b>what're the topics we're covering at retreat.</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, fugit ut quo eaque hic perspiciatis reprehenderit. Ut, perspiciatis, enim in vitae aperiam earum architecto nostrum praesentium repellendus adipisci fugit ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, animi dignissimos adipisci provident ut quam architecto voluptas voluptate. Eum, tempora, ipsum tenetur doloribus sed quaerat ducimus nulla assumenda porro obcaecati.</p></div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="retreat-desc-heading">
					<h3>Promotional Videos</h3>
				</div>
				<img src="http://placehold.it/1280x720&text=promovid1" alt="video-placeholder">
				<hr />
				<img src="http://placehold.it/1280x720&text=promovid2" alt="video-placeholder">
			</div>
		</div>
	</div>
</section>
<section class="retreat-location">
	<div class="retreat-location-wrap">
		<a href="http://goo.gl/maps/MlrcU" target="_blank" class="retreat-location-image"></a>
		<h6>Retreat Will Be At The</h6>
		<a href="http://goo.gl/maps/MlrcU" target="_blank"><h2>Frontier Camp</h2></a>
		<h6>Grapeland, Texas</h6>
	</div>
</section>
<section class='retreat-details'>
	<div class="row">
		<div class="large-12 columns">
			<div class="retreat-details-heading">
				<h2>Schedule</h2>
			</div>
			<div class="retreat-details-subheading">
				<h6>Subject to Change</h6>
			</div>
			<div class="retreat-schedule">
				<ul>
					<li>
						<h5>Friday, January 10th</h5>
						<ul>
							<li>
								<time>6:00 pm</time>
								<h6>Leave TMC</h6>
							</li>
							<li>
								<time>8:30 pm</time>
								<h6>Registration</h6>
							</li>
							<li>
								<time>9:00 pm</time>
								<h6>Dinner</h6>
							</li>
							<li>
								<time>9:45 pm</time>
								<h6>Welcome & House Rules</h6>
							</li>
							<li>
								<time>10:15 pm</time>
								<h6>Group Activity</h6>
							</li>
							<li>
								<time>11:00 pm</time>
								<h6>Free Time</h6>
							</li>
							<li>
								<time>12:00 am</time>
								<h6>Lights Out</h6>
							</li>
						</ul>
					</li>
					<li>
						<h5>Saturday, January 11th</h5>
						<ul>
							<li>
								<time>7:30 am</time>
								<h6>Wake Up</h6>
							</li>
							<li>
								<time>8:30 am</time>
								<h6>Breakfast</h6>
							</li>
							<li>
								<time>9:30 am</time>
								<h6>Praise & Worship</h6>
							</li>
							<li>
								<time>9:45 am</time>
								<h6>Main Talk 1</h6>
							</li>
							<li>
								<time>10:30 am</time>
								<h6>Small Groups</h6>
							</li>
							<li>
								<time>11:30 am</time>
								<h6>Praise & Worship</h6>
							</li>
							<li>
								<time>11:45 am</time>
								<h6>Main Talk 2</h6>
							</li>
							<li>
								<time>12:30 pm</time>
								<h6>Lunch</h6>
							</li>
							<li>
								<time>2:00 pm</time>
								<h6>Free Time / High Ropes</h6>
							</li>
							<li>
								<time>6:30 pm</time>
								<h6>Dinner</h6>
							</li>
							<li>
								<time>7:00 pm</time>
								<h6>Praise & Worship</h6>
							</li>
							<li>
								<time>7:45 pm</time>
								<h6>Main Talk 3</h6>
							</li>
							<li>
								<time>8:30 pm</time>
								<h6>Dedication Service</h6>
							</li>
							<li>
								<time>9:30 pm</time>
								<h6>Small Groups</h6>
							</li>
							<li>
								<time>10:00 pm</time>
								<h6>S'Mores / Campfire</h6>
							</li>
							<li>
								<time>12:00 am</time>
								<h6>Lights Out</h6>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="retreat-schedule-last">
				<ul>
					<li>
						<h5>Sunday, January 12th</h5>
						<ul>
							<li>
								<time>7:30 am</time>
								<h6>Wake Up</h6>
							</li>
							<li>
								<time>8:30 am</time>
								<h6>Breakfast</h6>
							</li>
							<li>
								<time>9:30 am</time>
								<h6>Holy Communion</h6>
							</li>
							<li>
								<time>11:00 am</time>
								<h6>Slideshow</h6>
							</li>
							<li>
								<time>12:30 pm</time>
								<h6>Lunch</h6>
							</li>
							<li>
								<time>1:30 pm</time>
								<h6>Depart Campsite</h6>
							</li>
						</ul>
          </li>					
				</ul>
			</div>
		</div>
	</div>
</section>
<section class='retreat-calltoaction'>
	<div class="retreat-calltoaction-wrap">
		<h1>Registration Info</h1>
		<h5>Interested in coming? Great! You can see how below:</h5>
	</div>
<% if @user and @user.registered_for_retreat? and @user.paid_for_retreat? %>
  <h3>Hey, you've registered and paid! See you at retreat!</h3>
<% elsif @user and @user.registered_for_retreat? %>
<div class="row">
	<div class="large-12 columns center">
		<h3>Retreat this year is $85</h3>
		<a href="/account/payments"><span class="retreat-calltoaction-login">Please pay now!</span></a>
		<p class="retreat-price-disclaimer">(If you wish to pay online, note the price is $88 as a convenience)</p>
	</div>
</div>
<% elsif @user %>
<div class="retreat-calltoaction-well"><%= render 'retreat_registrations/form' %></div>
<% else %>
<div class="row">
	<div class="large-12 columns center">
		<h6>To register for this year's retreat, you must have an account with us and have all your profile information filled out!</h6>
		<a href="/login"><span class="retreat-calltoaction-login">Please log in!</span></a>
	</div>
</div>
<% end %>
<div class="row">
	<div class="large-6 large-centered columns retreat-calltoaction-forms">
		<pre class="retreat-calltoaction-forms-well">
			<p><b>Forms</b></p>
			<p><a href="#">TMCYF Waiver</a></p>
			<p><a href="#">Campsite Waiver</a></p>
			<p><a href="#">Item Checklist</a></p>
		</pre>
	</div>
</div>
</section>
