<section class='retreat-theme'>
	<div class="row">
		<div class="large-12 columns center">
			<div class="retreat-heading">
				<p class="retreat-date">January 10-12, 2014</p>
				<h1 class="retreat-logo">Whatcha Gonna Do?</h1>
				<h4 class="retreat-verse">"Do not merely listen to the word, and so deceive yourselves. Do what it says." - James 1:22</h4>
				<span class="retreat-amount">$85</span>
			</div>
		</div>
	</div>
</section>
<section class='retreat-description'>
	<div class="retreat-banner">
		<h6>To hear the Word of God is a good thing, but it is not enough; so James says, “Do not merely listen to the word”. Rather than just hearing the Word, we are to “Do what it says”. Now, what does the Word says that we are to do?</h6>
	</div>
	<div class="retreat-desc">
		<div class="row">
			<div class="large-12 columns">
				<div class="retreat-desc-heading">
					<h2>About The Retreat</h2>
				</div>
				<div class="large-6 columns retreat-desc-body"><p><b>what the retreat is about</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ratione, porro voluptatem nihil fuga sapiente doloribus sed temporibus excepturi consectetur ad quasi veniam. Facere adipisci dolores repellendus dicta repudiandae quo?</p></div>
				<div class="large-6 columns retreat-desc-body"><p><b>what we hope youth will get out of this retreat</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, maxime, sed, rerum, numquam dolor quisquam amet repellendus at recusandae nam repudiandae rem quibusdam magni aperiam facere veritatis iure ad nulla?</p></div>
				<div class="large-12 columns retreat-desc-body"><p><b>what're the topics we're covering at retreat.</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, fugit ut quo eaque hic perspiciatis reprehenderit. Ut, perspiciatis, enim in vitae aperiam earum architecto nostrum praesentium repellendus adipisci fugit ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, animi dignissimos adipisci provident ut quam architecto voluptas voluptate. Eum, tempora, ipsum tenetur doloribus sed quaerat ducimus nulla assumenda porro obcaecati.</p></div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="retreat-desc-heading">
					<h3>Promotional Videos</h3>
				</div>
				<img src="http://placehold.it/1280x720&text=promovid1" alt="video-placeholder">
				<hr />
				<img src="http://placehold.it/1280x720&text=promovid2" alt="video-placeholder">
			</div>
		</div>
	</div>
</section>
<section class="retreat-location">
	<div class="retreat-location-wrap">
		<a href="http://goo.gl/maps/MlrcU" target="_blank" class="retreat-location-image"></a>
		<h6>Retreat Will Be At The</h6>
		<a href="http://goo.gl/maps/MlrcU" target="_blank"><h2>Frontier Camp</h2></a>
		<h6>Grapeland, Texas</h6>
	</div>
</section>
<section class='retreat-details'>
	<div class="row">
		<div class="large-12 columns">
			<div class="retreat-details-heading">
				<h2>Schedule</h2>
			</div>
			<div class="retreat-schedule">
				<ul>
					<li>
						<h5>Friday, January 10th</h5>
						<ul>
							<li>
								<time>9:30 pm</time>
								<h6>Welcome & Dinner</h6>
							</li>
						</ul>
					</li>
					<li>
						<h5>Saturday, January 11th</h5>
						<ul>
							<li>
								<time>9:30 pm</time>
								<h6>Welcome & Dinner</h6>
							</li>
						</ul>
					</li>
					<li>
						<h5>Sunday, January 12th</h5>
						<ul>
							<li>
								<time>9:30 pm</time>
								<h6>Welcome & Dinner</h6>
							</li>
						</ul>
					</li>										
				</ul>
			</div>
		</div>
	</div>
</section>
<section class='retreat-calltoaction'>

<%= render 'retreat_registrations/form' %>

</section>
