<section class='retreat-theme'>
	<div class="row">
		<div class="large-12 columns center">
			<div class="retreat-heading">
				<p class="retreat-date">January 10-12, 2014</p>
				<h1 class="retreat-logo">Whatcha Gonna Do?</h1>
				<h4 class="retreat-verse">"Do not merely listen to the word, and so deceive yourselves. Do what it says." - James 1:22</h4>
			</div>
		</div>
	</div>
</section>
<section class='retreat-description'>
			<div class="retreat-banner">
				<h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h6>
			</div>
</section>
<section class='retreat-details'>

</section>
<section class='retreat-calltoaction'>

<%= render 'retreat_registrations/form' %>

</section>
