<% provide(:title, 'Events') %>
<div class="row">
  <div class="large-12 columns">
      <% @events.each_with_index do |event, index| %>
      <div class="row">
        <article>
          <div class="large-6 columns">
            <%= link_to(image_tag(event.image_url(:thumb).to_s), event_path(event), class: "index-page-image") %>
          </div>
          <div class="large-6 columns">
            <h3><%= link_to event.title, event_path(event), class: "index-page-title" %></h3>
            <div class="index-datetime"><%= event.startdt.try(:strftime,"%B %d, %Y | %I:%M %p") %></div>
            <p class="index-page-location"><%= link_to event.location, "https://maps.google.com/maps?daddr=#{URI::encode(event.location)}" %></p>
          </div>
        </article>
      </div>
      <% unless index == @events.size - 1 %>
        <hr />
      <% end %>
      <% end %>
  </div>
</div>