<div class="row">
	<div class="large-12 columns">
			<% for event in @events do %>
			<article>
				<%= image_tag event.image_url(:thumb).to_s, class: "front-page-image" %>
				<%= link_to event.title, event_path(event), class: "front-page-title" %>
				<date class="front-page-date"><%= event.date.strftime("%B %e, %Y") %></date>
			<% end %>
		<%#= link_to "Create a New Event", new_event_path, class: "new-event-link" %>
	</div>
</div>