<div class="row">
	<div class="large-12 columns">
			<% @events.each do |event| %>
			<ul>
				<li>
					<%= link_to event.title, event_path(event), class: "front-page-title" %>
				</li>
			</ul>
			<% end %>
		<%= link_to "Create a New Event", new_event_path, class: "new-event-link" %>
	</div>
</div>