<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herocontact"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h4>Location & Contact</h4>
      <p>The TMCYF is located at Trinity Mar Thoma Church in Houston, Texas.</p>
    <hr />
    <div class="small-8 columns">
      <p class="times"><i class="fa fa-clock-o"></i> Regular Sunday Service at 10:30. Early Service at 8:30.</p>
      <p class="location">
        <span><i class="fa fa-map-marker"></i><b> Organization Location</b></span><br>
        <span>5810 Almeda-Genoa Road</span><br>
        <span>Houston,</span>
        <abbr>TX</abbr>
        <span>77048</span>
      <br>
      <a class="direction" href="http://goo.gl/maps/QMeoz">Get Directions</a>
    </div>
    <div class="small-4 columns social">
      <p class="email"><i class="fa fa-envelope-o"></i> <a class="mail" href="mailto:hello@tmcyf.org">hello@tmcyf.org</a></p>
      <p><i class="fa fa-facebook-square"></i> <a class="facebook" href="http://facebook.com/tmcyf">TMCYF Facebook Page</a></p>
    </div>
  </div>