<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herobiblestudy"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Bible Studies</h5>
      <p>We have different forms of getting together as a body of believers and digging deep into God’s Word. We have regular Mens and Womens Bible studies so that the Youth can grow closer to Christ as well as share real life experiences and struggles with their fellow brothers and sisters in Christ.</p><p>We also have Cottage Prayers where we come together in a time of prayer, bible study and fellowship.</p>
    </div>
</div>
