<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herotribes"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Tribes</h5>
      <p>TRIBES (Trinity Red and Immanuel Blue Expressing Solidarity for Christ) is a combined ministry of the Houston youth from Immanuel Mar Thoma church and Trinity Mar Thoma church. We meet once a month, alternating between the two sister parishes. TRIBES is an effort to continue to build the unity between our youth groups and to spread the Gospel of Christ within the Houston community.</p>
    </div>
</div>
