<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herobiblestudy"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Bible Studies</h5>
      <p>Growing in God’s Word is the way to deepen our relationships with Christ, understand and defend our beliefs, and stand firm in a world that needs the light of His truth. Our youth fellowship offers regular men’s and women’s Bible studies, cottage prayers, service projects, and social events throughout the year. We invite you to fellowship with us as we grow together as Christ’s faithful stewards!</p>
    </div>
</div>
