<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herosocials"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Social Events</h5>
      <p>Our youth fellowship has a genuine desire to strengthen the bond that joins us together. Whether it be a game night, a sporting event, a concert, or simply a dinner night, our social events are filled with fun and fellowship. We invite all our brothers and sisters to send us ideas for future social events and to join us for our next night out!</p>
    </div>
</div>
