<% provide(:title, 'About') %>
<div class="row">
  <div class="large-12 columns heroofficers"></div>
</div>
<div class="row">
  <%= render 'layouts/about_menu' %>
  <div class="large-9 columns about-copyblock officers">
      <h3>Our Officers</h3>
      <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/lini.jpg" />
        <h4>Lini Abraham</h4><h6>Vice President</h6>
        <p>I have been a Trinitarian since the day I was born and I wouldn't have it any other way. God has blessed me with the opportunity to hold every position on the committee over the past 12 years and VP was all that was missing. God has burdened my heart with the hope to see the youth of Trinity not just be transformed, but to be agents of change to those around them. I cannot wait to see what God has in store and even though I'm scared of crashing and burning, I trust that God can use even that for His glory! If there's anything you ever need - help, prayer, a shoulder to lean on, a listening ear - don't ever hesitate to ask. Also, be forewarned, calling people 'dummy' is my term of endearment.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/shawnv.jpg" />
        <h4>Shawn Varghese</h4><h6>Secretary</h6>
        <p>After working on the accounting side the past few years I feel extremely blessed to take on this new role and serve God with exceptional people! Many talented people who have come before me so I definitely have big shoes to fill... thankfully I’m 11W so I’m up to the challenge :) God’s been opening up many doors I didn’t expect the past year and half of my life so I’m eager to see what’s in store for 2014! Please feel free to contact me at any time and I will reply back ASAP. :) Proverbs 3:5-6</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/teena.jpg" />
        <h4>Christine Rajan</h4><h6>Joint Secretary</h6>
        <p>My position requires me to be at all the meetings and assist the secretary with her responsibilities. This is my second year on the committee, and it’s definitely the best year! Being a part of the Youth Fellowship has allowed me to branch out and put myself in a position where I'm able to connect with my fellow youth, while also working on my relationship with Christ!</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jenny.jpg" />
        <h4>Jennifer Chacko</h4><h6>Treasurer</h6>
        <p>A twenty-something who has no idea what to write. Just kidding... but really.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jobin.jpg" />
        <h4>Jobin Abraham</h4><h6>Event Coordinator</h6>
        <p>I'm the event coordinator this year. I like fun. I love lamp.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/cheryl.jpg" />
        <h4>Ryan Cherian</h4><h6>Historian</h6>
        <p>Trinity's YF historian and resident architecture student. Yes, I'd love to design your house someday. No, I won't do it for free. Watch your back, I might just be taking a picture of it. And it might just end up on this website.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ivan.jpg" />
        <h4>Aaron Alex</h4><h6>Web Design & Development</h6>
        <p>On a crusade against cool since '92. Enjoys long walks on the beach but prefers walks to the refrigerator. UH undergrad studying biochemistry and occasional web wizard. This website is made by yours truly.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ronen.jpg" />
        <h4>Ronen Jacob</h4><h6>Sports Coordinator</h6>
        <p>I like taking long walks on the same beach with Ivan. Im bffs with former CTeam MVP. S/O CTeam Champs. Swag.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ryan.jpg" />
        <h4>Ryan Rajan</h4><h6>Sports Coordinator</h6>
        <p>Hi friends......So I'm the male sports coordinator and the female sports coordinator is my BFF and fellow 2013 C Team Champ. This year is going to be the best because the 2014 committee is awesome!</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ivan.jpg" />
        <h4>Betty Vattakunnel</h4><h6>Senior Advisor</h6>
        <p></p>
      </div>
      <div class="large-4 pull-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jay.jpg" />
        <h4>??</h4><h6>Senior Advisor</h6>
        <p></p>
      </div>
    </div>
  </div>
</div>