<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herosocials"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Social Events</h5>
      <p>An important goal of the TMCYF is to strengthen fellowship between one another. Our Social Events are a great avenue where this takes place. Whether it be a game night, going to a sporting event or a concert, or just going out together to eat, our Social Events are filled with fun and fellowship for all who attend!</p>
    </div>
</div>
