<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns hero"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Welcome to the Trinity Mar Thoma Church Youth Fellowship</h5>
      <p>We serve an amazing God who has an unceasing, boundless, incredible love for us. Although there is nothing humanly possible to return that love, our youth fellowship strives to instill that passion within and beyond our church walls. We offer men’s and women’s Bible studies, cottage prayers, service projects, and social events to all our brothers and sisters, and we invite you to come and join us as we proclaim the saving grace of Christ. We pray that our youth fellowship’s ministry to show a passion for God and a passion for others be a living testimony of His great love for us.</p>
    </div>
</div>
