<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns heroofficers"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock officers">
      <h3>Our Officers</h3>
      <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ashok.jpg" />
        <h4>Ashok Prakash</h4><h6>Vice President</h6>
        <p>I've been at Trinity since 2006. I've been involved with the music aspect of worship (in both the choir and worship team) and decided to take on the VP position in order to help guide our youth. I don't do this alone however... I have a great committee that is always willing do to what's best for our youth fellowship. Looking forward to recording some music with the world famous Jay Mathew!</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Betsy Zachariah</h4><h6>Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Teena Thomas</h4><h6>Joint Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/merin.jpg" />
        <h4>Merin Sam</h4><h6>Treasurer</h6>
        <p>A twenty-something who has no idea what to write. Just kidding... but really.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Jesley George</h4><h6>Service Chair</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Cheryl Joseph</h4><h6>Historian</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ivan.jpg" />
        <h4>Ivan Varghese</h4><h6>Web Design & Development</h6>
        <p>On a crusade against cool since '92. Enjoys long walks on the beach but prefers walks to the refrigerator. UH undergrad studying biochemistry and occasional web wizard. This website is made by yours truly.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jay.jpg" />
        <h4>Jay Mathew</h4><h6>Senior Advisor</h6>
        <p>I like long walks on the beach.... my bad Ivan’s example description looked like a biodata for Shaddi.com! :) I've been at TMC since the day I was born, born and raised, on the playgrounds I spent most of my days. Chillin out maxin' relaxin' all cool (hopefully you got this joke by now...) I am one of the Senior Advisors for YF this year, probably the youngest Senior Advisor in YF history.  I don’t know how much advice I have really passed along but what I do know is that I love this YF and am dedicated to do whatever I can to help the youth of our Church grow in Christ and with one another.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Stacy George</h4><h6>Senior Advisor</h6>
        <p>On a crusade against cool since '92. Enjoys long walks on the beach but prefers walks to the refrigerator. UH undergrad studying biochemistry and occasional web wizard. This website is made by yours truly.</p>
      </div>
    </div>
    </div>