<% provide(:title, 'About') %>
<%= render 'layouts/header' %>
<div class="row">
	<div class="large-12 columns herobiblestudy"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Bible Studies</h5>
      <p>We have different forms of getting together as a body of believers and digging deep into God’s Word. We have regular Mens and Womens Bible studies so that the Youth can grow closer to Christ as well as share real life experiences and struggles with their fellow brothers and sisters in Christ.</p><p>We also have Cottage Prayers where we come together in a time of prayer, bible study and fellowship.</p><p>Deep v biodiesel dreamcatcher, ex Austin salvia Schlitz culpa locavore vinyl you probably haven't heard of them banjo selfies. Tonx McSweeney's you probably haven't heard of them, esse Etsy meggings letterpress narwhal four loko polaroid pug put a bird on it viral. Something something about bible study material being found on the bible study page.</p>
    </div>
</div>
<%= render 'layouts/footer' %>
