<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns hero"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Welcome to the Trinity Marthoma Church Youth Fellowship</h5>
      <p>The motto of our youth fellowship is "Passion for God, Passion for Others!". Our youth fellowship provides an opportunity for the youth of our parish to strengthen their walk with God as well as their relationship with others. Through various activities of the Youth Fellowship, we promote the Gospel message and the love of Jesus Christ to all who join!</p><p>
    </div>
</div>
