<% provide(:title, 'About') %>
<div class="row">
  <div class="large-12 columns heroofficers"></div>
</div>
<div class="row">
  <%= render 'layouts/about_menu' %>
  <div class="large-9 columns about-copyblock officers">
    <h3>Our 2018 Officers</h3>
    <div class="row">
      <div class="large-4 columns officers-no-face">
        <h4>Christo Varghese</h4><h6>Vice President</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Julia Mathew</h4><h6>Secretary</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Ryan Mathew</h4><h6>Joint Secretary</h6>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns officers-no-face">
        <h4>Richy George</h4><h6>Treasurer</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Sharon Mathew</h4><h6>Service Chair</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Thomas Benjamin</h4><h6>Historian</h6>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns officers-no-face">
        <h4>Aaron Alex</h4><h6>Web Design & Development</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Jennifer Chacko</h4><h6>Sports Coordinator</h6>
      </div>
      <div class="large-4 columns officers-no-face">
        <h4>Isaiah George</h4><h6>Sports Coordinator</h6>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns officers-no-face">
        <h4>Ryan Rajan</h4><h6>Divine Coordinator</h6>
      </div>
      <div class="large-6 columns officers-no-face">
        <h4>Shawn Varghese</h4><h6>Region Representative</h6>
      </div>      
    </div>    
  </div>
  <div class="small-9 push-3 columns past-officers-link">
    <%= link_to "View Past Officers", about_officers_past_path, class: 'button btn-grey' %>
  </div>
</div>