<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns heroofficers"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock officers">
      <h3>Our Officers</h3>
      <div class="row">
        <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Ashok Prakash</h4><h6>Vice President</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Betsy Zachariah</h4><h6>Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Teena Thomas</h4><h6>Joint Secretary</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/merin.jpg" />
        <h4>Merin Sam</h4><h6>Treasurer</h6>
        <p>A twenty-something who has no idea what to write. Just kidding... but really.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Jesley George</h4><h6>Service Chair</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Cheryl Joseph</h4><h6>Historian</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Ivan Varghese</h4><h6>Web Design & Development</h6>
        <p>On a crusade against cool since '92. Enjoys long walks on the beach but prefers walks to the refrigerator. UH undergrad studying biochemistry and occasional web wizard. This website is made by yours truly.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Jay Mathew</h4><h6>Senior Advisor</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Stacy George</h4><h6>Senior Advisor</h6>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
    </div>
    </div>