<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns heroservice"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Service Events</h5>
      <p>Our youth fellowship’s motto, Passion for God, Passion for Others is a lifestyle we strive to take beyond our church walls. We challenge our youth to take their faith and service past the comforts of our church and go to the places where Christ’s love may not be well seen. Our service projects include offering opportunities to serve food to those in need, to give to those who are financially troubled, or to comfort those who are struggling. We pray that, through our passion for others, the world is able to see the amazing, sacrificial love of Jesus Christ.</p>
    </div>
</div>
