<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns heroservice"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Service Events</h5>
      <p>As part of our motto, Passion for Others, we participate in various service related activities within our community. Our goal is through our service we show the love of Christ that we have experienced by giving some of our time money and help to those in need.</p>
    </div>
</div>
