<% provide(:title, 'About') %>
<div class="row">
  <div class="large-12 columns heroofficers"></div>
</div>
<div class="row">
  <%= render 'layouts/about_menu' %>
  <div class="large-9 columns about-copyblock officers">
      <h3>Our Officers</h3>
      <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/lini.jpg" />
        <h4>Lini Abraham</h4><h6>Vice President</h6>
        <p>I have been a Trinitarian since the day I was born and I wouldn't have it any other way. God has blessed me with the opportunity to hold every position on the committee over the past 12 years and VP was all that was missing. God has burdened my heart with the hope to see the youth of Trinity not just be transformed, but to be agents of change to those around them. I cannot wait to see what God has in store and even though I'm scared of crashing and burning, I trust that God can use even that for His glory! If there's anything you ever need - help, prayer, a shoulder to lean on, a listening ear - don't ever hesitate to ask. Also, be forewarned, calling people 'dummy' is my term of endearment.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/shawnv.jpg" />
        <h4>Shawn Varghese</h4><h6>Secretary</h6>
        <p>After working on the accounting side the past few years I feel extremely blessed to take on this new role and serve God with exceptional people! Many talented people have come before me so I definitely have big shoes to fill... thankfully I’m 11W so I’m up to the challenge :) God’s been opening up many doors I didn’t expect the past year and half of my life so I’m eager to see what’s in store for 2014! Please feel free to contact me at any time and I will reply back ASAP. :) Proverbs 3:5-6</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/christine.jpg" />
        <h4>Christine Rajan</h4><h6>Joint Secretary</h6>
        <p>Hey friends! Hmmm...well I'm a 24 year old girl just living life to the fullest! I think I'm shy and quiet at first but if you ask my friends and family they'll probably tell you I talk too much but don't worry, I try and keep things interesting! I'm super excited to be part of such an awesome committee and the BEST youth fellowship out there. I know God has great things in store for us this year and I'm glad I get to bet a part of it!</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jenny.jpg" />
        <h4>Jennifer Chacko</h4><h6>Treasurer</h6>
        <p>Hi my name is? What? My name is? What? My name is? "chika chika chika" jsc I'm fly as can be...on the court catch me swish'n dem threes..off the court just hand me yo money...and if it's from church I charge no fee!</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/jobin.jpg" />
        <h4>Jobin Abraham</h4><h6>Event Coordinator</h6>
        <p>I'm the event coordinator this year. I like fun. I love lamp.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ryancherian.jpg" />
        <h4>Ryan Cherian</h4><h6>Historian</h6>
        <p>Trinity's YF historian and resident architecture student. Yes, I'd love to design your house someday. No, I won't do it for free. Watch your back, I might just be taking a picture of it. And it might just end up on this website.</p>
      </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/aaron.jpg" />
        <h4>Aaron Alex</h4><h6>Web Design & Development</h6>
        <p>Hello! Been at TMC for 7 years so far. Just a 17 year old who is trying to help the YF and Church grow more with each other and in Christ.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ronen.jpg" />
        <h4>Ronen Jacob</h4><h6>Sports Coordinator</h6>
        <p>I like taking long walks on the same beach with Ivan. I'm bffs with former CTeam MVP. S/O CTeam Champs. Swag.</p>
      </div>
      <div class="large-4 columns">
        <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers/ryan.jpg" />
        <h4>Ryan Rajan</h4><h6>Sports Coordinator</h6>
        <p>Hi friends......So I'm the male sports coordinator and the female sports coordinator is my BFF and fellow 2013 C Team Champ. This year is going to be the best because the 2014 committee is awesome!</p>
      </div>
    </div>
  </div>
</div>