<% provide(:title, 'About') %>
<div class="row">
	<div class="large-12 columns herotribes"></div>
</div>
<div class="row">
	<%= render 'layouts/about_menu' %>
	<div class="large-9 columns about-copyblock">
      <h5>Tribes</h5>
      <p>Trinity Red and Immanuel Blue express solidarity for Christ! This is a ministry of our Youth Fellowship in partnership with our sister Youth Fellowship from the Immanuel MTC, Houston. Tribes is held once a month at our respective Parishes where the Youth of both Churches come together for Praise and Worship, Bible Study, Small Groups, and Fellowship. This ministry is aimed to build unity between the two Churches that can help in an effort for service within our community.</p>
    </div>
</div>
