<% provide(:title, 'Account') %>
<div class="row">
	<div class="large-6 large-centered columns accountpage">
		<%= link_to "Update", account_profile_path %><br>
		<hr />
		<%= link_to('Logout', destroy_user_session_path) %>
	</div>
</div>