<% provide(:title, 'Account') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
    <fieldset class="fields">
      <div class="large-12 columns">
        <h2>Account Status</h2>
        <p><%= "Your profile is #{@completion_percentage}% complete." %></p>
        <% if @dues_paid %> 
          <p>Your dues have been paid!</p>
        <% else %>
          <p>Your dues have not yet been paid.</p>
        <% end %>
        <% if @has_selected_contact_preference %>
          <p> You can change your contact preferences in <%= link_to "account preferences", account_preferences_path %>. </p>
        <% else %>
          <p> Please set your contact preferences in <%= link_to "account preferences", account_preferences_path %>! </p>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>