<% provide(:title, 'Account') %>
<div class="row">
	<div class="large-12 columns">
		<%= link_to "Update", account_profile_path %><br>
		<%= link_to('Logout', destroy_user_session_path) %>
	</div>
</div>