<% provide(:title, 'Account') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
    <fieldset class="fields">
      <div class="large-12 columns">
        <h2>Account Status</h2>
        <!-- <p><%= "Your profile is #{@completion_percentage}% complete." %></p> -->
        <!-- <p><%= "You have paid for #{@paid_events ? @paid_events.size : 0} events." %></p> -->
        <% if @dues_paid %> 
          <p>Your dues have been paid!</p>
        <% else %>
          <p>Your dues have not yet been paid.</p>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
