<div class="row">
	<div class="large-12 columns">
		<%= link_to "Create a New Event", new_event_path, class: "new-event-link" %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to "Create a SMS", contact_all_path, class: "new-sms-link" %>
	</div>
</div>