<% provide(:title, 'Bible Study') %>
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <!-- Feed Entry -->
  <fieldset>
  <legend>Bible Study #1</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson1.pdf">The Gospel Grid (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/w_lesson1.pdf">A Royal Mess (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #2</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson2.pdf">Pretending and Performing (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/w_lesson2.pdf">A Contest for a Queen (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #3</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson3.pdf">Believing the Gospel (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>A Raging Passion for Honor (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #4</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson4.pdf">The Law & The Gospel (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/w_lesson3.pdf">If You Remain Silent (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
 </div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #5</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson5.pdf">Lifestyle Repentance (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>A Table Set for Providence (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #6</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson6.pdf">Heart Idolatry (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>What Goes Around (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #7</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson7.pdf">The Gospel Propels Us Outward (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>Where Is the Man? (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #8</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson8.pdf">The Gospel Empowers Us To Forgive (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>The Right to Be Ready (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #9</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/pdf/m_lesson9.pdf">The Gospel Helps Us Fight Fairly (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong>The Tables Turned (Women's Bible Study)</strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->       
</div>