<% provide(:title, 'Bible Study') %>
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <!-- Feed Entry -->
  <fieldset>
  <legend>Bible Study #1</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/m_lesson1.pdf">The Gospel Grid (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/w_lesson1.pdf">A Royal Mess (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #2</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/m_lesson2.pdf">Pretending and Performing (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/w_lesson2.pdf">A Contest for a Queen (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>
  <!-- Feed Entry -->
<div class="large-6 large-centered columns" style="padding-bottom:20px;">
  <fieldset>
  <legend>Bible Study #3</legend>
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/m_lesson3.pdf">Believing the Gospel (Men's Bible Study)</a></strong></h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-2 columns small-3"><i class="icon-book icon-4x"></i></div>
      <div class="large-10 columns">
        <h5><strong><a href="http://files.tmcyf.org/w_lesson3.pdf">If You Remain Silent (Women's Bible Study)</a></strong></h5>
      </div>
    </div>
  </fieldset>
  <!-- End Feed Entry -->
</div>