<div class="row">
	<div class="large-12 columns">
    <div id="slider" data-orbit data-options="slide_number_class:false; bullets:false;">
    	<img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/ugh.png" />
      <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/ugh2.1.png" />
    </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <div class="large-3 columns"><img src="http://mu.eyev.in/album.png" /></div>
  <div class="large-3 columns"><img src="http://mu.eyev.in/dlapps.png" /></div>
  <div class="large-3 columns"><img src="http://mu.eyev.in/previous.png" /></div>
  <%= link_to image_tag('http://mu.eyev.in/sports.png'), 'http://sportsday.tmcyf.org', class: 'large-3 columns' %>
</div>
<div class="row">
  <div class="large-6 large-centered columns votd">
    <pre><%= @votd %> <%= @votdref %></pre>
  </div>
</div>