<%= render 'layouts/header' %>
<div class="row">
	<div class="large-12 columns">
    <div id="slider" data-orbit data-options="slide_number_class:false; bullets:false;">
    	<img src="http://placehold.it/1000x400&text=[ img 1 ]" />
      <img src="http://placehold.it/1000x400&text=[ img 2 ]" />
      <img src="http://placehold.it/1000x400&text=[ img 3 ]" />
      <img src="http://placehold.it/1000x400&text=[ img 4 ]" />
    </div>
  <hr />
  </div>
</div>
<div class="row">
		<div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
    
    <div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
    
    <div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>

    <div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
</div>
<%= render 'layouts/footer' %>