<div class="row">
	<div class="large-12 columns">
    <div id="slider" data-orbit data-options="slide_number_class:false; bullets:false;">
    	<img src="http://mu.eyev.in/funfest.png" />
      <img src="http://mu.eyev.in/3on3.png" />
      <img src="http://mu.eyev.in/concertheader.png" />
      <img src="http://mu.eyev.in/filler.png" />
    </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <div class="large-3 columns"><img src="http://mu.eyev.in/album.png" /></div>
  <div class="large-3 columns"><img src="http://mu.eyev.in/dlapps.png" /></div>
  <div class="large-3 columns"><img src="http://mu.eyev.in/previous.png" /></div>
  <div class="large-3 columns"><img src="http://mu.eyev.in/sports.png" /></div>
</div>
<div class="row">
  <div class="large-6 large-centered columns vod">
    <pre>Here goes verse of the day!</pre>
  </div>
</div>