<div class="row">
  <div class="large-12 columns">
    <div id="slider" data-orbit data-options="slide_number_class:false; bullets:false;">
      <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/electricsunset.jpg" />
    </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <div class="large-3 columns"><img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/album.png" /></div>
  <div class="large-3 columns"><img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/dlapps.png" /></div>
  <div class="large-3 columns"><img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/previous.png" /></div>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/sports.png'), 'http://sportsday.tmcyf.org', class: 'large-3 columns' %>
</div>
<div class="row">
  <div class="large-6 large-centered columns votd">
    <pre><%= @votd %> <%= @votdref %></pre>
  </div>
</div>