<div class="row">
  <div class="large-12 columns">
    <div>
      <img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/electricsunset.jpg" />
    </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <div class="large-3 columns"><img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/album.png" /></div>
  <div class="large-3 columns"><img src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/dlapps.png" /></div>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/sub-fb.png'), 'https://facebook.com/tmcyf', class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/sub-retreat.jpg'), root_path, class: 'large-3 columns' %>
</div>
<div class="row">
  <div class="large-6 large-centered columns votd">
    <pre><%= @votd %> <%= @votdref %></pre>
  </div>
</div>