<div class="large-12 columns about-copyblock officers">
  <div class="current-officers-link center">
    <%= link_to "View Current Officers", about_officers_path, class: 'button btn-grey' %>
  </div>
  <h3 class="center">2017</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Michelle Mathews</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Sophia George</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Rajan</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Richy George</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Julia Mathew</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Vismita Varghese</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Tom Benjamin</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Andrew Alex</h4><h6>Sports Coordinator</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Serena George</h4><h6>Sports Coordinator</h6>
    </div>
  </div>
    <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Shawn Varghese</h4><h6>Region Representative</h6>
    </div>      
    <div class="large-4 columns officers-no-face">
      <h4>Aaron Alex</h4><h6>Divine Coordinator</h6>
    </div>      
    <div class="large-4 columns officers-no-face">
      <h4>Nidhin Sam</h4><h6>Senior Advisor</h6>
    </div>
  </div>
  <hr>  
  <h3 class="center">2016</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Raji Thomas</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Michelle Mathews</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Vijai Thomas</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Sheena Mathew</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Sophia George</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Vismita Varghese</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Shawn Varghese</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Mathew</h4><h6>Sports Coordinator</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Serena George</h4><h6>Sports Coordinator</h6>
    </div>
  </div>
    <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Jesley George</h4><h6>Region Representative</h6>
    </div>      
    <div class="large-4 columns officers-no-face">
      <h4>Dr. David Cherian</h4><h6>Senior Advisor</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Deepa Sabu</h4><h6>Senior Advisor</h6>
    </div>
  </div>
  <hr>
  <h3 class="center">2015</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Raji Thomas</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Nidhin Sam</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Janina Jose</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Joby Thomas</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Merin Sam</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Merin Joseph</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Ivan Varghese</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Rajan</h4><h6>Sports Coordinator</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Mathew</h4><h6>Sports Coordinator</h6>
    </div>
  </div>
    <div class="row">
    <div class="large-6 columns officers-no-face">
      <h4>Jesley George</h4><h6>Region Representative</h6>
    </div>      
    <div class="large-6 columns officers-no-face">
      <h4>Shaun Ninan</h4><h6>Senior Advisor</h6>
    </div>
  </div>
  <hr>  
  <h3 class="center">2014</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Lini Abraham</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Shawn Varghese</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Christine Rajan</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Jennifer Chacko</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Jobin Abraham</h4><h6>Event Coordinator</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Cherian</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Aaron Alex</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ronen Jacob</h4><h6>Sports Coordinator</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ryan Rajan</h4><h6>Sports Coordinator</h6>
    </div>
  </div>
    <div class="row">
    <div class="large-6 columns officers-no-face">
      <h4>Dr. David Cherian</h4><h6>Senior Advisor</h6>
    </div>
    <div class="large-6 columns officers-no-face">
      <h4>Betty Vattakunnel</h4><h6>Senior Advisor</h6>
    </div>
  </div>
  <hr>
  <h3 class="center">2013</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Ashok Prakash</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Betsy Alexander Zachariah</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Teena Thomas</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Merin Sam</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Jesley George</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Cheryl Joseph</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Ivan Varghese</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Jay Mathew</h4><h6>Senior Advisor</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Stacy George</h4><h6>Senior Advisor</h6>
    </div>
  </div>
</div>
<hr>
<div class="large-12 columns about-copyblock officers">
  <h3 class="center">2012</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Sowmya Oommen</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Vincy George</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Christo Varghese</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Dale Rajan</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Merline Thomas</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Teena Thomas</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Nidhin Sam</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Aby George</h4><h6>Senior Advisor</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Betty Vattakunnel</h4><h6>Senior Advisor</h6>
    </div>
  </div>
</div>
<hr>
<div class="large-12 columns about-copyblock officers">
  <h3 class="center">2011</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Bobby Koshy</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Reshma John</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Sharron Varghese</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Shawn Varghese</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Jesley George</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Ivan Varghese</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Ritchie Jose</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Shibu George</h4><h6>Senior Advisor</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Relin Mathai</h4><h6>Senior Advisor</h6>
    </div>
  </div>
</div>
<hr>
<div class="large-12 columns about-copyblock officers">
  <h3 class="center">2010</h3>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Jay Mathew</h4><h6>Vice President</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Geetha Thomas</h4><h6>Secretary</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Deepa Sabu</h4><h6>Joint Secretary</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Lini Abraham</h4><h6>Treasurer</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Christo Varghese</h4><h6>Service Chair</h6>
    </div>
    <div class="large-4 columns officers-no-face">
      <h4>Bobby Koshy</h4><h6>Historian</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns officers-no-face">
      <h4>Nidhin Sam</h4><h6>Web Design & Development</h6>
    </div>
    <div class="large-4 pull-4 columns officers-no-face">
      <h4>Stacy George</h4><h6>Senior Advisor</h6>
    </div>
  </div>
</div>