<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
	     </div>
	  </fieldset>
	</div>
</div>