<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
	      <table>
				  <thead>
				    <tr>
				      <th>Payment</th>
				      <th>Amount</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Dues</td>
				      <td>$15</td>
				      <td><button class="button btn-pay">Pay Now</button></td>
				    </tr>
				    <tr>
				      <td>Retreat</td>
				      <td>$85</td>
				      <td><button class="button btn-pay">Pay Now</button></td>
				    </tr>
				    <tr>
				      <td>T-Shirt</td>
				      <td>$20</td>
				      <td><button class="button btn-pay">Pay Now</button></td>
				    </tr>					    			    
				  </tbody>
				</table>
	     </div>
	  </fieldset>
	</div>
</div>