<% provide(:title, 'Privacy Policy') %>
<div class="row">
	<div class="large-8 large-centered columns">
		<fieldset>
			<h4>Privacy Policy</h4>
			<p>Your privacy is important to the Youth Fellowship.</p>
			<p>SSL is used site-wide. Cookies are used for authentication and session data only. Site cookies are first-party, HTTP only, and secure.</p>
			<p>Payment is handled through <a href="https://stripe.com">Stripe</a> so your email address and payment information is shared with them. <a href="https://stripe.com/us/privacy">View their privacy policy</a> for more information.</p>
			<p>If you have any questions or concerns about our privacy policies, please contact us: <a href="mailto:hello@tmcyf.org">hello@tmcyf.org</a>.</p>
		</fieldset>
	</div>
</div>
