<% provide(:title, 'Look Alive - Retreat 2019') %>
<div class="yf-retreat-header-block">
<!--   <div class="row">
    <div class="large-12 columns">
      <img src="http://d3krmhcqjnbsob.cloudfront.net/retreat/2018_retreat_header.jpg" />
    </div>
  </div> -->
  <div class="row">
    <div class="large-12 columns">
      <div class="yf-retreat-heading center">
        <h1>January 18th - 20th<br>Camp Cho-Yeh <span>&#183;</span> Livingston, TX</h1>
        <h1 id="price">Cost: $95</h1>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="yf-retreat-theme-block center">
  <div class="row">
    <div class="large-12 columns">
      <h1>Theme: Look Alive</h1>
      <h4>James 2:26</h4>
      <p><i>"As the body without the spirit is dead, so faith without deeds is dead."</i></p>
      <h3>Speaker: Jay Mathew</h3>
    </div>
  </div>

</div>
<hr />
<div class="yf-retreat-payment-methods-block">
  <div class="row">
    <div class="large-12 columns">
      <div class="center">
        <h1>Ways to Pay</h1>
        <h4>There are three simple ways to pay for retreat this year!</h4>
      </div>
      <p><span>Online:</span> You can make a payment online with a credit card using the form below.</p><br>
      <p><span>In-person:</span> You can pay in-person with cash or check. Just find a YF officer to make your payment.</p><br>
      <p><span>Venmo:</span> If you would like to use Venmo, select "Venmo" as your payment method in the form below and we will send you a payment request on there! Easy! <br>Our Venmo ID: @TMC-YF</p><br>
      <div class="yf-retreat-payment-methods-important center">
        <p>NOTE: RETREAT PRICE WILL INCREASE TO $105 AFTER DECEMBER 31TH, 2017. NO EXCEPTIONS.</p>
      </div>
    </div>
  </div>
</div>
<hr />
<!-- <div class="yf-retreat-schedule-block center">
  <h1>Schedule</h1>
  <h4>- TBA -</h4>
</div>
<hr /> -->
<div class="yf-retreat-form-block">
  <h1 class="center">Registration Form</h1>
  <%= render 'form' %>
</div>
<hr />
<div class="yf-retreat-payment-block center">
<h1>Online Payment</h1>
<%= form_tag retreat_charge_path do %>
    <label class="amount">
      <h5>Amount: $95</h5>
      <p>Please use the same email as on the registration form!<br><em>There will be a convenience charge of $3.15 applied.<em></p>
    </label>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key=<%= ENV['STRIPE_PUBLIC_KEY'] %>
      data-image="http://d3krmhcqjnbsob.cloudfront.net/sitelogo.png"
      data-name="Retreat 2018: City on a Hill"
      data-description="1 golden ticket ($98.15)"
      data-amount="9815">
    </script>
  <% end %>
</div>
