<% provide(:title, 'Sweeter than Honey, Better than Gold | Retreat 2014') %>
<div class="yf-retreat-header-block">
  <div class="row">
    <div class="large-12 columns">
      <img src="http://d3krmhcqjnbsob.cloudfront.net/retreat-header.png" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="yf-retreat-heading center">
        <h1>January 9th - 11th || Frontier Camp <span>&#183;</span> Grapeland, TX</h1>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="yf-retreat-schedule-block center">
  <h1>Schedule</h1>
  <h4>- TBA -</h4>
</div>
<hr />
<div class="yf-retreat-form-block">
  <h1 class="center">Registration Form</h1>
  <%= render 'form' %>
</div>
<hr />
<div class="yf-retreat-payment-block center">
<h1>Payment</h1>
Online retreat payment is closed. Please pay at church either through cash or check.
</div>
