<% provide(:title, 'Page Not Found (404)') %>
<div class="row">
	<div class="large-12 columns error">
		<h4 class="oops">Sorry, we can't find the page you requested.</h4>
		<img class="scale-with-grid center-img" src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/lost.jpg">
		<p class="error-message">Care to go back to the <a href="/">homepage</a>?</p>
	</div>
</div>