<% provide(:title, 'Change Rejected (422)') %>
<div class="row">
	<div class="large-12 columns error">
		<h4 class="oops">The change you wanted was rejected.</h4>
		<img class="scale-with-grid center-img" src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/forbidden.jpg">
		<p class="error-message">Maybe you tried to change something you didn't have access to. Oh well. <a href="/">Go back?</a></p>
	</div>
</div>