<% provide(:title, 'Something Went Wrong (500)') %>
<div class="row">
	<div class="large-12 columns error">
		<h4 class="oops">We're sorry, but something went wrong!</h4>
		<img class="scale-with-grid center-img" src="https://s3-us-west-2.amazonaws.com/files.tmcyf.org/dead.jpg">
		<p class="error-message">Something is technically wrong. Try again, and if the problem keeps persisting, <a href="mailto:admin@tmcyf.org">contact us</a>!</p>
	</div>
</div>