<% provide(:title, 'Give') %>
<div class="row">
	<div class="large-12 columns">
		<div class="give-verse-header">"Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this,” says the Lord Almighty, “and see if I will not throw open the floodgates of heaven and pour out so much blessing that there will not be room enough to store it." - Malachi 3:10</h1>
	</div>
	<br>
	<div class="large-6 columns give-m-head">
		<h3>Give Money</h3>
		<div class="give-m-body">The Youth Fellowship accepts donations, large or small, to help fund the events we have planned for the year. The Bible asks us to give our first and our best back to God and He will bless the rest. You can donate from right here or see an officer during church.</div>
		<br>
		<div class="row">
			<div class="large-3 push-2 columns">
				<%= form_tag give_index_path do %>
		 		<%= number_field_tag(:amount, nil, placeholder: '25.00', min: '0', step: '25.00') %>
		 	</div>
		 	<div class="large-4 pull-3 columns">
		  <button id="stripebutton" class="button btn-stripe">Give</button>
				<% end %>
			</div>
		</div>
		<p><small>Secure Payments by <a href="https://stripe.com/help/security">Stripe Checkout</a></small></p>
	</div>
	<div class="large-6 columns give-t-head">
		<h3>Give Time</h3>
		<div class="give-t-body">It's very easy. Volunteer at our service events. We challenge our youth to take their faith and service past the comforts of our church and go to the places where Christ’s love may not be well seen. When you hear about an upcoming service event, consider joining us as we give back to the community and embody the love of Christ. Also, if you're in need of volunteer hours for school, we will fill out the necessary paperwork to make your hours count.<br>Have some neat volunteer ideas? Give us a shout over at <a href="mailto:service@tmcyf.org">service@tmcyf.org</a>.</div>
	</div>	
</div>