<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
	      <table>
				  <thead>
				    <tr>
				      <th>Payment</th>
				      <th>Amount</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
            <% if @events %>
              <% @events.each do |event| %>
                <tr>
                  <td><%= event.title %></td>
                  <td><%= event.cost %></td>
                  <td><%= button_to "Pay Now", new_event_payment_path(event), class: "btn btn-info", method: :get %></td>
                </tr>
              <% end %>
            <% end %>
				  </tbody>
				</table>
	     </div>
	  </fieldset>
	</div>
</div>
