<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
	      <table>
				  <thead>
				    <tr>
				      <th>Payment</th>
				      <th>Amount</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
            <% @events.each do |e| %>
              <tr>
                <td><%= e.title %></td>
                <td><%= e.cost %></td>
                <td><%= button_to "Pay Now", payment_path_for(e), {class: "btn btn-info"} %></td>
              </tr>
            <% end %>
				  </tbody>
				</table>
	     </div>
	  </fieldset>
	</div>
</div>
