<div class="row">
	<div class="large-12">
		<%= form_tag make_announcement_path %>
		<%= label_tag "Announcement" %>
		<%= text_field_tag "message" %>
		<%= submit_tag "Create announcement" %>
	</div>
</div>