// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EVENTS

.index-page-location {
  margin-top: 0.5em;
}

h3.show-page-title, .show-page-eventdata, .ics, .show-page-body {
  text-align: center;
}
.ics {
  margin-bottom: 2em;
}
.event-form-edit-datetime select {
  width: 25%;
}