@import 'global';

// EVENTS

.index-page-location {
  margin-top: .5em;
}

h3.show-page-title {
  text-align: center;
}

.show-page-eventdata {
  text-align: center;
}

.show-page-body {
  text-align: center;
}

.show-page-hr {
  margin: -.25em 0 1.25em;
}
.ics {
  margin-bottom: 2em;
  text-align: center;
}
.event-form-edit-datetime select {
  width: 25%;
}