// Place all the styles related to the give controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DONATE

.give-verse-header {
  text-align: center;
  font-family: 'Cardo', serif;
  line-height: 1.4em;
  font-weight: 400;
  font-style: italic;
  font-size: 1.4em;  
}
.give-m-head, .give-t-head {
  text-align: center;
}
.give-m-body, .give-t-body {
  font-size: 1.1em;
}