.retreat-heading h1 {
  margin-bottom: 0;
}

.retreat-heading h2 {
  margin-top: 0;
}

.retreat-heading h3 {
  margin-top: 1em;
}

.retreat-heading, .retreat-details {
  text-align: center;
}

.retreat-form {
  margin: 2em 0;
}

.odr-span {
  color: red;
  font-style: italic;
  font-size: 1em;
}