@import 'global';

.orbit-wrapper .slider-nav span, .false {
    display: none;
}

//MISC

.well {
  padding: 10px;
  font-size: 13px;
}
.cc {
  padding-right: 10px;
}
.pay-table {
  margin-top: 20px;
}
.surcharge-note {
  font-style: italic;
}


// ABOUT

.hero, .herocontact, .herobiblestudy, .heroofficers, .heroservice, .herosocials, .herotribes {
  padding-top: 40%;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}
.hero {
  background-image: url('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/abthead.png')
}
.herocontact {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/contact.png");
}
.herobiblestudy {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/biblestudy.png");
}
.heroofficers {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/officers.png");
}
.heroservice {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/service.png");
}
.herosocials {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/socials.png");
}
.herotribes {
  background-image: url("https://s3-us-west-2.amazonaws.com/files.tmcyf.org/tribes.png");
}
.about-sidebar {
  margin-top: 20px;
}

.about-copyblock {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  border-left: 1px solid #eee;
}

// ABOUT_SIDENAV

@media only screen and (min-width: 768px) {
  .about-nav {
    a:hover {
      color: $primary;
    }
    li {
      padding: 5px 5px;
      span {
        background: url('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/redarrow.png') 100% 10px no-repeat;
        padding-right: 25px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
    .about-nav {
      display: hidden;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    .about-sidebar {
      width: 100% !important;
      padding: 0;
    }

    .about-sidebar h3 {
      text-align: center;
    }

    select {
      width: 100%;
    }

    .side-nav {
      height: auto;
        > li {
          float: none;
          display: block;
          border-right: none;
          text-align: center;
        &:first-child {
          > a.main {
           border-top: none;
          }
          -webkit-box-shadow: 0 0 0;
          -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
        }
      float: left;
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      line-height: 40px;
      -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      &:last-child {
        -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      }
      &.active {
        background: $primary;
        border-color: #a33030;
        > a {
          color: white;
          cursor: default;
        }
        &:hover {
          background: $primary;
          cursor: default;
        }
      }
      &:hover {
        background: $primary;
      }
      > a {
        color: #333;
        &:hover {
          color: #eee;
        }
      }
      ul {
        margin-bottom: 0;
      }
      > {
        a:first-child {
          position: relative;
          padding: 0 20px;
          display: block;
          text-decoration: none;
          font-size: 14px;
        }
        input {
          margin: 0 10px;
        }
      }
    }
    height: 40px;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
    &.vertical {
      height: auto;
      margin-top: 30px;
      > li {
        float: none;
        border-bottom: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &.active {
          border-right: solid 1px #a33030;
        }
      }
    }
  }
  .side-nav li.active > a:first-child {
  color: #eee;
  font-weight: normal;
  }
}


// ABOUT_OFFICERS

.officers h4, .officers h6 {
  text-align: center;
}

.officers {
  h6 {
    font-weight: 300;
    font-style: italic;
  }
  h3 {
    padding-bottom: 20px;
  }
}

.past-officers-link {
  margin-top: 3em;
  margin-bottom: 2em;
}

.current-officers-link {
  margin-bottom: 4em;
}

.officers-no-face {
  margin-bottom: 3em;
}

// ABOUT_CONTACT

.info {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.times {
  color: #333;
  .icon-time {
    color: #9d9d9d;
  }
}

.location {
  .direction {
    text-decoration: underline;
  }
  .icon-map-marker {
    color: #9d9d9d;
  }
}

.social .facebook, .mail {
  text-decoration: underline;
}


// LOGIN

label.boolean.optional {
  display: inline;
  padding-left: .4em;
}

.form-helper {
  font-size: .8em;
}

.accountpage {
  text-align: center;
}

.fields {
  background-color: #fefefe;
  border: 1px solid #e1e1e1;
}

.form-tel {
  // SO DAMN UGLY
  width: 100px !important;
}

.form-sel {
  width: 80px;
}

.form-sel-shirt {
  width: 50px;
}

.form-date {
  width: auto;
}

.hint {
  font-size: .8em;
}

// ACCOUNT MENU

.account-nav {
    border: 1px solid #e1e1e1;
    height: auto;
      > li {
        float: none;
        display: block;
        border-right: none;
        text-align: center;
      &:first-child {
        > a.main {
         border-top: none;
        }
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
      }
    float: left;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    border-right: none;
    line-height: 40px;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    &:last-child {
      -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
    }
    &.active {
      background: $primary;
      border-color: #a33030;
      > a {
        color: white;
        cursor: default;
      }
      &:hover {
        background: $primary;
        cursor: default;
      }
    }
    &:hover {
      background: $primary;
        > a {
          color: #eee;
      }
    }
    > a {
      color: #333;
    }
    ul {
      margin-bottom: 0;
    }
    > {
      a:first-child {
        position: relative;
        padding: 0 20px;
        display: block;
        text-decoration: none;
        font-size: 14px;
      }
      input {
        margin: 0 10px;
      }
    }
  }
  height: 40px;
  background: #fefefe;
  margin-left: 0;
  padding: 0;
  &.vertical {
    height: auto;
    > li {
      float: none;
      border-bottom: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &.active {
        border-right: solid 1px #a33030;
      }
    }
  }
}

// FOOTER

footer {
  a {
    color: $body;
  }
  ul {
    float: right;
    text-align: right;
    list-style: none;
    font-weight: bold;
    font-size: .7em;
    li {
      display: inline;
      a {
        margin: 0 3px 0 -1px;
      }
      &:after {
        content: '\00B7';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
  .foothr {
    margin-top: 25px;
  }
}