@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300|Arvo);

$primary: #c73f3f;
$body: #333;

body {
  border-top: 7px solid $primary;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  line-height: 1.6em;
  color: $body;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}
.logo {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii02OS4yNDUgMTEgNjA4LjYyMiAxNTguMTIyIj48cGF0aCBmaWxsPSIjQzczRTNGIiBkPSJNLTM4LjM5OCAzNS45NzFoLTMwLjg0N1YxMWg5MC4xODZ2MjQuOTcxSC05LjkwNHY3Ny44NDhoLTI4LjQ5NFYzNS45NzF6Ii8+PHBhdGggZmlsbD0iI0M3M0UzRiIgZD0iTTMwLjE5NiAxMWg0OC42MTljMTUuNzE2IDAgMjYuNiA0LjIgMzMuNSAxMS4xNjNjNi4wMjMgNS45IDkuMSAxMy44IDkuMSAyMy45NDNWNDYuNCBjMCAxNS43MTYtOC4zNzIgMjYuMTQ1LTIxLjE1MSAzMS41OGwyNC41MyAzNS44NEg5MS45NDhMNzEuMjM3IDgyLjY4MUg1OC43NTF2MzEuMTM5SDMwLjE5NUwzMC4xOTYgMTFMMzAuMTk2IDExeiBNNzcuNDk0IDYwLjQgYzkuNjk1IDAgMTUuMjc2LTQuNzAxIDE1LjI3Ni0xMi4xOTJ2LTAuMjk0YzAtOC4wNzktNS44NzUtMTIuMTkyLTE1LjQyMy0xMi4xOTJINTguNjkydjI0LjY3NmgxOC44MDF2MC4wMDJINzcuNDk0eiIvPjxwYXRoIGZpbGw9IiNDNzNFM0YiIGQ9Ik0xMzYuMTAyIDExaDI4LjY0MnYxMDIuODE5aC0yOC42NDJWMTF6Ii8+PHBhdGggZmlsbD0iI0M3M0UzRiIgZD0iTTE4My4zNTUgMTFoMjYuNTg2bDQyLjMwMiA1NC4zNDhWMTFoMjguMjAzdjEwMi44MTloLTI0Ljk3MmwtNDMuOTE3LTU2LjQwNHY1Ni40MDRoLTI4LjIwMlYxMXoiLz48cGF0aCBmaWxsPSIjQzczRTNGIiBkPSJNMjk5LjM4MSAxMWgyOC42NDN2MTAyLjgxOWgtMjguNjQzVjExeiIvPjxwYXRoIGZpbGw9IiNDNzNFM0YiIGQ9Ik0zNjguMTM4IDM1Ljk3MWgtMzAuODQ2VjExaDkwLjE4NnYyNC45NzFoLTMwLjg0NnY3Ny44NDhoLTI4LjQ5NFYzNS45NzF6Ii8+PHBhdGggZmlsbD0iI0M3M0UzRiIgZD0iTTQ3MS42NjMgNzUuMzM2TDQzMi41OTIgMTFoMzIuNDYxbDIxLjE1MyAzNy40NTdsMjEuMjk3LTM3LjQ1NmgzMS44NzRsLTM5LjA3IDYzLjg5NHYzOC45MjRoLTI4LjY0M1Y3NS4zMzYgSDQ3MS42NjN6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYwLjk2MiAxNjUuMjQ2aDMuMjEzdi00LjQwOWwtNy4zNi0xMS40NjlINTQuMnYtMy40MzZoMTAuNjF2My4zOTloLTMuMjUxbDQuNzgxIDcuNjIxbDQuODItNy42MjFoLTMuMjUxIHYtMy4zOTloMTAuMzQ5djMuNDM2aC0yLjUwM2wtNy4yNDcgMTEuMjQ2djQuNjMyaDMuMjEzdjMuNDM3aC0xMC43Nkw2MC45NjIgMTY1LjI0Nkw2MC45NjIgMTY1LjI0NnoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNzguNzQ4IDE1Ny4zMjZjMC02Ljk4NiA0LjkzMS0xMS44NDIgMTEuODQzLTExLjg0MmM2Ljg3NCAwIDExLjggNC45IDExLjggMTEuOCBjMCA2Ljk4NS00Ljk2OCAxMS44MDYtMTEuODQyIDExLjgwNmMtNi45MDIgMC4wMTktMTEuODgzLTQuODU5LTExLjg4My0xMS43OTVMNzguNzQ4IDE1Ny4zMjZMNzguNzQ4IDE1Ny4zMjZ6IE05Ny45ODcgMTU3LjMgYzAtNS4wODEtMy4xNzYtOC4yMi03LjM5Ny04LjIyYy00LjI1OSAwLTcuMzk3IDMuMTM5LTcuMzk3IDguMjJjMCA1LjEgMy4xIDguMiA3LjQgOC4xOTljNC4yNSAwIDcuNDQtMy4xMTQgNy40NC04LjE4MSBMOTcuOTg3IDE1Ny4zMDh6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEwNy4yMTcgMTYwLjk0OXYtMTEuNTgyaC0zLjA2NHYtMy40MzZoMTAuNDYxdjMuNDM2aC0zLjA2NHYxMS4xNzJjMCAzLjQgMi4zIDQuNyA1LjEgNC43IHM1LjA0My0xLjI3MSA1LjA0My00Ljc0NHYtMTEuMTM0aC0zLjE3NnYtMy40MzZoMTAuMjc0djMuNDM2aC0zLjA2NHYxMS4yMDhjMCA1LjM4LTMuNTQ4IDguNTU2LTkuMjI4IDguNSBjLTQuNzg1IDAuMDktOS4yNDYtMi4xOTMtOS4yNDYtOC4xMDFMMTA3LjIxNyAxNjAuOTQ5TDEwNy4yMTcgMTYwLjk0OXoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTM0Ljk3OCAxNjUuMjQ2aDMuMzYydi0xNS44NzhoLTQuMjU5djMuNDc1aC0zLjkyMnYtNi45MWgyMC42OTZ2Ni45MWgtMy45MjJ2LTMuNDc1aC00LjI1OXYxNS44NzhoMy4zNjIgdjMuNDM3aC0xMS4wNTdMMTM0Ljk3OCAxNjUuMjQ2TDEzNC45NzggMTY1LjI0NnoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTUzLjAyNiAxNjUuMjQ2aDMuMDY0di0xNS44NzhoLTMuMDY0di0zLjQzNmgxMC40OTh2My40MzZoLTMuMTAxdjYuMTY0aDEwLjc5N3YtNi4xNjRoLTMuMTAxdi0zLjQzNiBoMTAuNDk4djMuNDM2aC0zLjA2NHYxNS44NzhoMy4wNjR2My40MzdoLTEwLjQ5OHYtMy40MzdoMy4xMDF2LTYuMTI3aC0xMC43OTd2Ni4xMjdoMy4xMDF2My40MzdoLTEwLjQ5OFYxNjUuMjQ2eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xODkuNDkxIDE2NS4yNDZoMy4wNjR2LTE1Ljg3OGgtMy4wNjR2LTMuNDM2aDE4LjQ1NXY2Ljk4NWgtMy45OTh2LTMuNTExaC03LjA2MXY2LjY4N2g4LjA2OXYzLjUxMWgtOC4wNjkgdjUuNjQyaDMuMjUxdjMuNDM3aC0xMC42NDdWMTY1LjI0NnoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjEwLjExNSAxNjUuMjQ2aDMuMDY0di0xNS44NzhoLTMuMDY0di0zLjQzNmgxOC43NTR2Ni42ODdoLTMuOTk4di0zLjI1MmgtNy4zNnY2LjE2NGg4LjU1NXYzLjQzN2gtOC41NTUgdjYuMjc2aDcuNDcydi0zLjM5OWg0LjAzNHY2LjgzNmgtMTguOTAyVjE2NS4yNDZ6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTIzMi4wODUgMTY1LjI0NmgzLjA2NHYtMTUuODc4aC0zLjA2NHYtMy40MzZoMTEuMDIxdjMuNDM2aC0zLjYyNHYxNS44NzhoNy4zNjF2LTMuNjYxaDMuOTk4djcuMDk4aC0xOC43NTQgdi0zLjQzN0wyMzIuMDg1IDE2NS4yNDZMMjMyLjA4NSAxNjUuMjQ2eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yNTIuODk2IDE2NS4yNDZoMy4wNjN2LTE1Ljg3OGgtMy4wNjN2LTMuNDM2aDExLjAydjMuNDM2aC0zLjYyM3YxNS44NzhoNy4zNTl2LTMuNjYxaDMuOTk4djcuMDk4aC0xOC43NTMgdi0zLjQzN0wyNTIuODk2IDE2NS4yNDZMMjUyLjg5NiAxNjUuMjQ2eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yNzMuNDQ1IDE1Ny4zMjZjMC02Ljk4NiA0LjkzMi0xMS44NDIgMTEuODQzLTExLjg0MmM2Ljg3NCAwIDExLjggNC45IDExLjggMTEuOCBjMCA2Ljk4NS00Ljk2OCAxMS44MDYtMTEuODQyIDExLjgwNmMtNi45MDEgMC4wMTktMTEuODc2LTQuODU5LTExLjg3Ni0xMS43OTVMMjczLjQ0NSAxNTcuMzI2TDI3My40NDUgMTU3LjMyNnogTTI5Mi42ODUgMTU3LjMgYzAtNS4wODEtMy4xNzYtOC4yMi03LjM5Ny04LjIyYy00LjI1OSAwLTcuMzk4IDMuMTM5LTcuMzk4IDguMjJjMCA1LjEgMy4xIDguMiA3LjQgOC4xOTljNC4yNSAwIDcuNDQ3LTMuMTE0IDcuNDQ3LTguMTgxIEwyOTIuNjg1IDE1Ny4zMDh6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTMwMC4zNDYgMTQ5LjM2N2gtMi41NHYtMy40MzZoMTAuMDExdjMuNDM2aC0zLjIxM2w0LjM3MSAxNC4zMDlsNC41NTgtMTMuMjYybC0wLjM3My0xLjA0N2gtMi44Nzd2LTMuNDM2IGgxMC4xOTl2My40MzZoLTMuMjUxbDQuNTU4IDE0LjE2bDQuMjk2LTE0LjE2aC0zLjE3NXYtMy40MzZoMTAuMDExdjMuNDM2aC0yLjU3OGwtNi4yNzYgMTkuMzE1aC00LjIyMWwtNC4zNzEtMTIuNTg5bC00LjU5NSAxMi42IGgtNC4yMjFMMzAwLjM0NiAxNDkuMzY3eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zMzQuMDQ4IDE2Ny44OTh2LTUuNjc5aDMuODg2djIuOTg5YzAuODIxIDAuMiAyLjIgMC41IDMuOSAwLjQ4NmMyLjQyOSAwIDQuNzA3LTAuNTk4IDQuNzA3LTIuODM5IGMwLTUuMTkyLTEyLjIxNy0yLjM5MS0xMi4yMTctMTAuNzU5YzAtNC43ODEgNC4wMzUtNi42MTIgOC41MTgtNi42MTJjMi41NzcgMCA1LjQgMC42IDcuMyAxLjIzM3Y1LjU2NmgtMy45NjF2LTMuMDYzIGMtMC43NDYtMC4xMTMtMS45NzktMC4zLTMuMTc1LTAuM2MtMi4yMDQgMC00LjQ0NiAwLjYzNS00LjQ0NiAyLjcyOGMwIDQuOSAxMi4yIDIuMyAxMi4yIDEwLjkgYzAgNC45NjgtNC4wNzMgNi41NzYtOC42MjkgNi41NzZjLTMuMDU4IDAuMDE4LTUuOTk1LTAuNzA5LTguMTc0LTEuMjI0TDMzNC4wNDggMTY3Ljg5OEwzMzQuMDQ4IDE2Ny44OTh6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTM1My43MDEgMTY1LjI0NmgzLjA2NXYtMTUuODc4aC0zLjA2NXYtMy40MzZoMTAuNDk4djMuNDM2SDM2MS4xdjYuMTY0aDEwLjc5NnYtNi4xNjRoLTMuMTAxdi0zLjQzNmgxMC40OTggdjMuNDM2aC0zLjA2M3YxNS44NzhoMy4wNjN2My40MzdoLTEwLjQ5OHYtMy40MzdoMy4xMDF2LTYuMTI3SDM2MS4xdjYuMTI3aDMuMDk5djMuNDM3aC0xMC40OThMMzUzLjcwMSAxNjUuMjQ2TDM1My43MDEgMTY1LjI0NnoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMzgyLjI4MyAxNjUuMjQ2aDMuMDY1di0xNS44NzhoLTMuMDY1di0zLjQzNmgxMC40NjJ2My40MzZoLTMuMDYzdjE1Ljg3OGgzLjA2M3YzLjQzN2gtMTAuNDYyVjE2NS4yNDZ6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTM5NS43MzUgMTY1LjI0NmgzLjA2M3YtMTUuODc4aC0zLjA2M3YtMy40MzZoMTAuNjFjNi43MjQgMCA5LjMgMy43IDkuMyA3LjQgcy0yLjU3OCA3LjM5Ny05LjMwMiA3LjM5N2gtMy4yMTN2NC41MmgzLjgxMXYzLjQzN2gtMTEuMjQ3VjE2NS4yNDZ6IE00MDMuMTMxIDE1Ny4yODhoMy4zNjNjMy42MjIgMCA0Ljc4MS0xLjk3OSA0Ljc4MS0zLjk1OSBzLTEuMTU5LTMuOTYtNC43ODEtMy45NmgtMy4zNjNWMTU3LjI4OHoiLz48cmVjdCB4PSItNjQiIHk9IjE1Ni45IiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iOTkuNiIgaGVpZ2h0PSIyLjEiLz48cmVjdCB4PSI0MzMuMSIgeT0iMTU3LjkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSI5OS42IiBoZWlnaHQ9IjIuMSIvPjwvc3ZnPg==) no-repeat center center;
  width: 150px;
  height: 58px;
  margin-left: 2em;
}
.orbit-wrapper .slider-nav span, .false {
    display: none;
}
// HEADER
// .search {
//   margin: 0 0 20px -28px;
// }

.content-blocks img {
  margin-bottom: 1.5em;
}

// ABOUT

.hero, .herocontact, .herobiblestudy, .heroofficers, .heroservice, .herosocials, .herotribes {
  padding-top: 40%;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}
.hero {
  background-image: url('http://mu.eyev.in/abthead.png')
}
.herocontact {
  background-image: url("http://mu.eyev.in/contact.png");
}
.herobiblestudy {
  background-image: url("http://mu.eyev.in/biblestudy.png");
}
.heroofficers {
  background-image: url("http://mu.eyev.in/officers.png");
}
.heroservice {
  background-image: url("http://mu.eyev.in/service.png");
}
.herosocials {
  background-image: url("http://mu.eyev.in/socials.png");
}
.herotribes {
  background-image: url("http://mu.eyev.in/tribes.png");
}
.about-sidebar {
  margin-top: 20px;
}

.about-copyblock {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  border-left: 1px solid #eee;
}

// ABOUT_SIDENAV

@media only screen and (min-width: 768px) {
  .about-nav {
    a:hover {
      color: $primary;
    }
    li {
      padding: 5px 5px;
      span {
        background: url('http://mu.eyev.in/redarrow.png') 100% 10px no-repeat;
        padding-right: 25px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
    .about-nav {
      display: hidden;
    }

    .about-sidebar h3 {
      text-align: center;
    }

    .side-nav {
      height: auto;
        > li {
          float: none;
          display: block;
          border-right: none;
          text-align: center;
        &:first-child {
          > a.main {
           border-top: none;
          }
          -webkit-box-shadow: 0 0 0;
          -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
        }
      float: left;
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      border-right: none;
      line-height: 40px;
      -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
      &:last-child {
        -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      }
      &.active {
        background: $primary;
        border-color: #a33030;
        > a {
          color: white;
          cursor: default;
        }
        &:hover {
          background: $primary;
          cursor: default;
        }
      }
      &:hover {
        background: $primary;
      }
      > a {
        color: #e6e6e6;
      }
      ul {
        margin-bottom: 0;
      }
      > {
        a:first-child {
          position: relative;
          padding: 0 20px;
          display: block;
          text-decoration: none;
          font-size: 14px;
        }
        input {
          margin: 0 10px;
        }
      }
    }
    height: 40px;
    background: #111;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
    &.vertical {
      height: auto;
      margin-top: 30px;
      > li {
        float: none;
        border-bottom: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &.active {
          border-right: solid 1px #a33030;
        }
      }
    }
  }
}


// ABOUT_OFFICERS

.officers h4, h6 {
  text-align: center;
}

.officers {
  h6 {
    font-weight: 300;
    font-style: italic;
  }
  h3 {
    padding-bottom: 20px;
  }
}

// ABOUT_CONTACT

.info {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.times {
  color: #333;
  .icon-time {
    color: #9d9d9d;
  }
}

.location {
  .direction {
    text-decoration: underline;
  }
  .icon-map-marker {
    color: #9d9d9d;
  }
}

.social .facebook, .mail {
  text-decoration: underline;
}


// LOGIN

label {
  display: inline;
  padding-left: .2em;
}

.form-helper {
  font-size: .8em;
}

.accountpage {
  text-align: center;
}
.fields {
  background-color: #fffbfb;
}

.account-nav {
    border: 1px solid #e1e1e1;
    height: auto;
      > li {
        float: none;
        display: block;
        border-right: none;
        text-align: center;
      &:first-child {
        > a.main {
         border-top: none;
        }
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
      }
    float: left;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    border-right: none;
    line-height: 40px;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    &:last-child {
      -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
    }
    &.active {
      background: $primary;
      border-color: #a33030;
      > a {
        color: white;
        cursor: default;
      }
      &:hover {
        background: $primary;
        cursor: default;
      }
    }
    &:hover {
      background: $primary;
        > a {
          color: #eee;
      }
    }
    > a {
      color: #333;
    }
    ul {
      margin-bottom: 0;
    }
    > {
      a:first-child {
        position: relative;
        padding: 0 20px;
        display: block;
        text-decoration: none;
        font-size: 14px;
      }
      input {
        margin: 0 10px;
      }
    }
  }
  height: 40px;
  background: #fffbfb;
  margin-left: 0;
  padding: 0;
  &.vertical {
    height: auto;
    > li {
      float: none;
      border-bottom: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &.active {
        border-right: solid 1px #a33030;
      }
    }
  }
}

// FOOTER

footer {
  a {
    color: $body;
  }
  ul {
    float: right;
    text-align: right;
    list-style: none;
    font-weight: bold;
    font-size: .7em;
    li {
      display: inline;
      &:after {
        padding-left: .5em;
        content: '\00B7';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
  .foothr {
    margin-top: 25px;
  }
}