.main section.retreat-theme {
	background: #fff;
}

.main section.retreat-description {
	background: #fff;
}

.main section.retreat-details {
	background: #fff;
}

.main section.retreat-calltoaction {
	background: #fff;
}

.retreat-heading {
	margin: 40px;
}

.retreat-banner {
	background-color: #f8f4eb;
	padding: 2em 0;
	border-bottom: 1px solid #e0dcd3;
	text-align: center;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.retreat-verse, .retreat-date {
		font-size: .6em;
	}
	.retreat-heading {
		margin: 20px;
	}
	.retreat-logo {
		font-size: 1.2em;
	}
}