.main section.retreat-theme {
	background: #fff;
}

.main section.retreat-description {
	background: #fff;
}

.main section.retreat-details {
	background: #fff;
}

.main section.retreat-calltoaction {
	background: #fff;
}

.retreat-heading {
	margin-top: 50%;
}

.retreat-banner {
	background-color: #f8f4eb;
	padding: 2em 0;
	border-bottom: 1px solid #e0dcd3;
	text-align: center;
}