<footer class="row">
	<div class="twelve columns">
		<hr class="foothr" />
		<ul class="foot-copy left">&copy; 2013 Trinity Mar Thoma Church Youth Fellowship</ul>
		<ul class="foot-links right">
			<li><a href="http://facebook.com/tmcyf">Facebook</a></li>
	    <li><a href="http://twitter.com/tmcyf">Twitter</a></li>
	    <li><a href="http://instagram.com/tmcyf">Instagram</a></li>
	    <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
	    <li><%= link_to "Contact", about_contact_path %></li>
		</ul>
	</div>
</footer>