<footer class="row">
	<div class="twelve columns">
		<hr class="foothr" />
		<ul class="foot-copy left">&copy; 2013 Trinity Marthoma Church Youth Fellowship</ul>
		<ul class="foot-links right">
			<li><a href="#">Facebook</a></li>
	    <li><a href="#">Twitter</a></li>
	    <li><a href="#">Instagram</a></li>
	    <li><a href="#">Contact</a></li>
		</ul>
	</div>
</footer>