<!-- Footer -->
<footer class="row">
  <div class="twelve columns">
    <hr id="footerhrule" />
    <div class="row">
      <div class="six columns">
        <p>&copy; 2013 Trinity Marthoma Church Youth Fellowship</p>
      </div>
      <div class="six columns">
        <ul>
          <li><a href="http://facebook.com/tmcyf">Facebook</a></li>
          <li><a href="http://twitter.com/tmcyf">Twitter</a></li>
          <li><a href="http://instagram.com/tmcyf">Instagram</a></li>
          <li class="last"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
